@model Person

<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>
        @if (!string.IsNullOrWhiteSpace(Model.Email))
        {
            <a href="mailto:@Model.Email">@Model.Email</a>
        }
    </td>
    <td>
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <button class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                data-id="@Model.Id"
                data-mode="delete"
                data-first-name="@Model.FirstName"
                data-last-name="@Model.LastName"
                data-email="@Model.Email">
            Delete
        </button>
    </td>
</tr>